{% extends 'base.html' %}
{% block content %}
{% for product in products.all %}
<div class="row pt-3">
    <div class="col-1">
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>
    <div class="col-7">
        <a href="{% url 'detail' product.id %}"><h2>{{ product.title }}</h2></a>
        {{ product.summary }}
    </div>
    <div class="col-4">
         <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-lg bt-block">Upvote {{ product.votes_total }}</button>
        </a>
    </div>
</div>
<form method="POST" action="{% url 'upvote' product.id %}" id="upvote">
    {% csrf_token %}
    <input type="hidden"/>
</form>
{% endfor %}
{% endblock %}
